{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ if eq $.Site.Language.LanguageName "English" }}
        <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}/foreword/getting-started/" role="button">{{ i18n "get-started" }}</a>
      {{ end }}
      {{ if eq $.Site.Language.LanguageName "中文" }}
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/zh/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}/foreword/getting-started/" role="button">{{ i18n "get-started" }}</a>
      {{ end }}
      <p class="meta">Open-source Apache 2.0 Licensed. <a href="https://github.com/haraldng/omnipaxos">GitHub</a></p>
    </div>
    <div class="container">
      <div class="container">
        {{- .Content -}}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Log API 👨‍💻</h2>
        <p>OmniPaxos provides an API that makes replication as simple as working with an append-only log.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Resilient 🏰</h2>
        <p>Experience state-of-the-art resilience with OmniPaxos' ability to tolerate modern connectivity issues in the cloud.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Plug and play 🔌</h2>
        <p>Seamlessly integrate OmniPaxos to your system by providing your own storage and network implementation, or use the ones we provide.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Flexible consistency 🤸‍♀️</h2>
        <p>A wide range of operations with different consistency levels are supported to meet different application needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Customizable 🎨</h2>
        <p>Get a tailored replication service with customized quorums and leadership placement suited for your application.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Data aware 🧠</h2>
        <p>[Coming soon] Use bleeding-edge replication techniques that learns from data trends and formats for efficient replication.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ if eq $.Site.Language.LanguageName "中文" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Log API 👨‍💻</h2>
        <p>OmniPaxos提供了一个API, 令复制日志的使用像使用仅追加日志一样简单。</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">可恢复的 🏰</h2>
        <p>凭借OmniPaxos在集群中容忍连接问题的能力,体验最先进的容错能力。</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">即插即用 🔌</h2>
        <p>通过提供您自己的存储和网络实现，或使用我们提供的存储或网络实现，将OmniPaxos无缝集成到您的系统中。</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">灵活的一致性 🤸‍♀️</h2>
        <p>支持具有不同一致性级别的各种操作，以满足不同的应用程序的需求。</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">可定制的 🎨</h2>
        <p>以适合您应用程序的客制化法定节点数和领导职位来定制复制服务。</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">数据感知 🧠</h2>
        <p>[即将推出]使用从数据趋势和格式中学习的前沿复制技术来实现高效复制。</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
  {{ end }}
