{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
      <p class="meta">Open-source Apache 2.0 Licensed. <a href="https://github.com/haraldng/omnipaxos">GitHub</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Log API 👨‍💻</h2>
        <p>OmniPaxos provides an API that makes replication as simple as working with an append-only log.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Resilient 🏰</h2>
        <p>Experience state-of-the-art resilience with OmniPaxos' ability to tolerate modern connectivity issues in the cloud.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Plug and play 🔌</h2>
        <p>Seamlessly integrate OmniPaxos to your system by providing your own storage and network implementation, or use the ones we provide.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Flexible consistency 🤸‍♀️</h2>
        <p>A wide range of operations with different consistency levels are supported to meet different application needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Customizable 🎨</h2>
        <p>Get a tailored replication service with customized quorums and leadership placement suited for your application.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Data aware 🧠</h2>
        <p>[Coming soon] Use bleeding-edge replication techniques that learns from data trends and formats for efficient replication.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
  {{ end }}


{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
